@import "tailwindcss";

@theme {
    --font-sans: 'Outfit', sans-serif;
    --font-serif: 'Lora', serif;
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
        font-weight: 700;
    }
}